@charset "utf-8"

@font-face
  font-family: "snes"
  src: url("../fonts/super-nintendo/SNES.ttf") format("opentype")

@font-face
  font-family: nintendo
  src: url("../fonts/pretendo/Pretendo.ttf")

@font-face
  font-family: "logos"
  src: url("../fonts/game-logos/GameLogos.ttf")

// SNES
$snesLogo:                  #fc0c18

$snesConsole:               #cac8cd
$snesConsoleL5:             #fcfcfc
$snesConsoleL4:             #f4f4f5
$snesConsoleL3:             #e9e9eb
$snesConsoleL2:             #dfdde0
$snesConsoleL1:             #d4d2d6
$snesConsoleD1:             #b5b2b9
$snesConsoleD2:             #a09ca6
$snesConsoleD3:             #8c8793
$snesConsoleD4:             #78737f
$snesConsoleD5:             #64606a

$snesControllerLogo:        #8f8d94
$snesControllerYX:          #b3b1e3
$snesControllerBA:          #5b3893

$snesControllerStartSelect:   #373737
$snesControllerStartSelectL5: #f3f3f3
$snesControllerStartSelectL4: #d7d7d7
$snesControllerStartSelectL3: #afafaf
$snesControllerStartSelectL2: #888888
$snesControllerStartSelectL1: #606060
$snesControllerStartSelectD1: #323232
$snesControllerStartSelectD2: #2d2d2d
$snesControllerStartSelectD3: #272727
$snesControllerStartSelectD4: #222222
$snesControllerStartSelectD5: #1c1c1c

// SFC
$sfcPower:                  #5c5e60

// four mark colors
$fmcGreen:                  #6eb92b
$fmcBlue:                   #00a7eb
$fmcRed:                    #e60012
$fmcYellow:                 #ffe100

// responsive
$mobileL: 597px

@mixin mobileL
  @media (max-width: $mobileL)
    @content
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

html, body
  height: 100%
  width: 100%
  display: flex
  flex-direction: column

header
  background-color: #000
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end

  @include mobileL
    .four-mark
      height: 64px

    .snes-logo
      height: 48px

nav
  background-color: $snesControllerStartSelectD5
  display: flex
  flex-direction: row
  gap: 32px
  justify-content: center
  padding: 6px 0 4px

  a
    width: 91.59px
    text-decoration: none
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    color: #fff
    font-weight: bold
    gap: 4px
    text-transform: uppercase
    cursor: pointer

    img
      height: 72px
  
  .aActive
    @extend a
    color: $snesLogo

  @include mobileL
    a
      width: 23px
      font-size: 8px

      img
        height: 36px

main
  flex: 1
  display: flex
  flex-direction: column
  align-items: center
  background-color: $snesConsoleL3
  padding: 32px 0
  gap: 32px

  .snes
    background-color: #fff
    width: 83.7%
    border-radius: 4px
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    padding: 16px

  .sfc
    @extend .snes
    width: 87%
    border-radius: 8px

.emulatorsMain
  @extend main
  flex-direction: row
  justify-content: center
  padding: 32px 64px
  background-color: $snesConsoleD5

  .emulatorCard
    background-color: $snesConsoleL4
    border: 1px solid $snesConsoleD3
    border-radius: 8px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 8px
    gap: 8px
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)

    label
      font-weight: bold
      background-color: $snesConsoleL5
      color: $snesControllerStartSelect
      border: 2px solid $snesConsole
      text-align: center
      padding: 4px
      border-radius: 4px
      width: 100%
    
    .button
      text-decoration: none
      font-size: 20px
      font-weight: bold
      border: 3px solid $snesConsoleD5
      background-color: $snesConsoleL5
      color: $snesControllerStartSelect
      padding: 16px 0
      width: 100%
      text-align: center
      border-radius: 8px

      &:hover
        background-color: $snesControllerStartSelectD5
        color: $fmcGreen
        border-color: $snesControllerStartSelectD5

  @include mobileL
    flex-direction: column

    .emulatorCard
      img
        height: 40px

.romsMain
  @extend main
  padding: 32px

  .input-container
    display: flex
    position: relative
    align-items: center
    width: 320px

    i
      font-size: 16px
      position: absolute
      left: 11px
      color: $snesControllerStartSelectD5

    .fa-times
      @extend i
      left: 298px
      cursor: pointer

    #input
      padding: 8px 10px 6px 29px
      border-radius: 8px
      border-color: $snesConsoleD3
      font-size: 16px
      width: 100%

  .roms-main-content
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 32px

    .romCard
      cursor: pointer
    
      .front
        width: 384px
        border-radius: 2px
        height: 279px

        &:hover
          box-shadow: 0px 0px 2px 2px $snesLogo

      .front-jp
        @extend .front
        height: fit-content
    
  .background
    position: fixed
    width: 100%
    height: 100%
    background-color: #000d
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    padding: 16px
    cursor: default

    .content
      width: auto
      height: 100%
      // overflow: hidden
      display: flex
      flex-direction: column
      align-items: center
      border-radius: 4px
      border: 2px solid $snesConsoleD3
      cursor: pointer

      .game
        width: auto
        height: 90%
        border-radius: 4px 4px 0 0

      .download
        background-color: #000
        display: flex
        height: 10%
        width: 100%
        justify-content: center
        align-items: center
        text-decoration: none
        text-transform: uppercase
        font-weight: bold
        font-size: 125%
        color: $snesConsole

        &:hover
          color: $fmcGreen

  @include mobileL
    .roms-main-content
      .romCard
        .front
          width: 100%
          height: auto

    .input-container
      width: 100%

      .fa-times
        left: 234px

    .background
      .content
        width: 100%
        height: auto
        .game
          width: 100%
          height: auto
        .download
          height: auto
          width: 100%
          padding: 4px 0 2px 0

footer
  background-color: #fff
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  @include mobileL
    .sfc-mark
      height: 32px

    .sfc-logo
      height: 24px
  