@font-face {
  font-family: "snes";
  src: url("../fonts/super-nintendo/SNES.ttf") format("opentype");
}
@font-face {
  font-family: nintendo;
  src: url("../fonts/pretendo/Pretendo.ttf");
}
@font-face {
  font-family: "logos";
  src: url("../fonts/game-logos/GameLogos.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 510px) {
  header .four-mark {
    height: 64px;
  }
  header .snes-logo {
    height: 48px;
  }
}

nav {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  padding: 6px 0 4px;
}
nav a, nav .aActive {
  width: 91.59px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-weight: bold;
  gap: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
nav a img, nav .aActive img {
  height: 72px;
}
nav .aActive {
  color: #fc0c18;
}
@media (max-width: 510px) {
  nav a, nav .aActive {
    width: 30.53px;
    font-size: 8px;
  }
  nav a img, nav .aActive img {
    height: 48px;
  }
}

main, .historyMain, .romsMain, .emulatorsMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9eb;
  padding: 32px 0;
  gap: 32px;
}
main .snes, .historyMain .snes, .romsMain .snes, .emulatorsMain .snes, main .sfc, .historyMain .sfc, .romsMain .sfc, .emulatorsMain .sfc {
  background-color: #fff;
  width: 83.7%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
}
main .sfc, .historyMain .sfc, .romsMain .sfc, .emulatorsMain .sfc {
  width: 87%;
  border-radius: 8px;
}
@media (max-width: 510px) {
  main, .historyMain, .romsMain, .emulatorsMain {
    justify-content: space-evenly;
  }
  main .snes, .historyMain .snes, .romsMain .snes, .emulatorsMain .snes, main .sfc, .historyMain .sfc, .romsMain .sfc, .emulatorsMain .sfc {
    padding: 8px;
  }
}

.emulatorsMain {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 64px;
  background-color: #64606a;
}
.emulatorsMain .emulatorCard {
  background-color: #f4f4f5;
  border: 1px solid #8c8793;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.emulatorsMain .emulatorCard label {
  font-weight: bold;
  background-color: #fcfcfc;
  color: #373737;
  border: 2px solid #cac8cd;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}
.emulatorsMain .emulatorCard .button {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #64606a;
  background-color: #fcfcfc;
  color: #373737;
  padding: 16px 0;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}
.emulatorsMain .emulatorCard .button:hover {
  background-color: #1c1c1c;
  color: #6eb92b;
  border-color: #1c1c1c;
}
@media (max-width: 510px) {
  .emulatorsMain {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 32px;
  }
  .emulatorsMain .emulatorCard {
    width: 100%;
  }
  .emulatorsMain .emulatorCard img {
    width: 100%;
  }
}

.romsMain {
  padding: 32px;
}
.romsMain .input-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 256px;
}
.romsMain .input-container i, .romsMain .input-container .fa-times {
  font-size: 16px;
  position: absolute;
  left: 11px;
  color: #1c1c1c;
}
.romsMain .input-container .fa-times {
  left: 232px;
  cursor: pointer;
}
.romsMain .input-container #input {
  padding: 8px 10px 6px 29px;
  border-radius: 8px;
  border-color: #8c8793;
  font-size: 16px;
  width: 100%;
}
.romsMain .roms-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.romsMain .roms-main-content .romCard {
  cursor: pointer;
}
.romsMain .roms-main-content .romCard .front, .romsMain .roms-main-content .romCard .front-jp {
  width: 384px;
  border-radius: 2px;
  height: 279px;
}
.romsMain .roms-main-content .romCard .front:hover, .romsMain .roms-main-content .romCard .front-jp:hover {
  box-shadow: 0px 0px 2px 2px #fc0c18;
}
.romsMain .roms-main-content .romCard .front-jp {
  height: fit-content;
}
.romsMain .roms-main-content .fa-chevron-up {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: fixed;
  right: 32px;
  top: 30px;
}
.romsMain .background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8666666667);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  cursor: default;
}
.romsMain .background .content {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #8c8793;
  cursor: pointer;
}
.romsMain .background .content .game {
  width: auto;
  height: 90%;
  border-radius: 4px 4px 0 0;
}
.romsMain .background .content .download {
  background-color: #000;
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 125%;
  color: #cac8cd;
}
.romsMain .background .content .download:hover {
  color: #6eb92b;
}
@media (max-width: 510px) {
  .romsMain .roms-main-content .romCard .front, .romsMain .roms-main-content .romCard .front-jp {
    width: 100%;
    height: auto;
  }
  .romsMain .roms-main-content .fa-chevron-up {
    right: 6px;
  }
  .romsMain .background .content {
    width: 100%;
    height: auto;
  }
  .romsMain .background .content .game {
    width: 100%;
    height: auto;
  }
  .romsMain .background .content .download {
    height: auto;
    width: 100%;
    padding: 8px 0;
  }
}

.historyMain {
  padding: 32px 103px;
}
.historyMain article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: justify;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.historyMain article .consolesArticle {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border-radius: 2px;
  background-color: #64606a;
}
.historyMain article .consolesArticle .imgContainer {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 50%;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
}
.historyMain article .consolesArticle .imgContainer img {
  width: 100%;
}
.historyMain article .consolesArticle .imgContainer label {
  position: absolute;
  right: 4px;
  bottom: 0px;
  font-weight: bold;
}
.historyMain article hr {
  width: 100%;
}
.historyMain article p {
  line-height: 24px;
  font-size: 16px;
}
@media (max-width: 510px) {
  .historyMain {
    padding: 16px;
  }
  .historyMain article {
    padding: 0 0 16px 0;
  }
  .historyMain article .consolesArticle {
    padding: 8px;
    gap: 8px;
  }
  .historyMain article p {
    margin: 0 16px;
  }
  .historyMain label {
    font-size: 8px;
  }
}

footer {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 510px) {
  footer .sfc-mark {
    height: 32px;
  }
  footer .sfc-logo {
    height: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
